body {
  background: #222;
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.rpgui-content {
  .main-title {
    font-size: 30px;
  }
  .error {
    color: red;
  }
  .rpgui-icon {
    &.add {
      color: white;
      font-size: 46px;
      p {
        margin: 0;
        margin-top: 24px;
        margin-left: 8px;
      }
    }
  }
  .add-character-form {
    margin: 20px auto;
    width: 400px;
  }
}

.container {
  &.small {
    width: 400px;
  }
}

#fps {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.game-panel {
  border: 24px solid;
  border-image: url("~assets/img/panel-border.png") 24 round;
  .game-panel-content {
    background-color: rgba(43, 43, 71, 0.9);
    height: 100%;
    color: inherit;
  }
}
